out/
.kube/
.vscode/
.idea/
*.exe
*.dll
*.pdb
*.obj
*.ninja
*.ninja_deps
*.ninja_log
*.lkif
*.manifest
*.res
*.lib
*.pyd
base/
third_party/
v8/
build/
components/
content/
net/
url/
crypto/
media/
mojo/
ipc/
gpu/
skia/
sql/
ui/
tools/
testing/
testing/clusterfuzz/
*.log
.DS_Store
Thumbs.db
desktop.ini
